main{
    margin: 5em 0;
    padding: 2em;
    width: 100%;
}

main > div{
    display: grid;
    grid-template-rows: 20em 15em 15em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "topo topo topo topo topo"
    "e-superior e-c-superior central d-c-superior d-superior"
    "e-inferior e-c-inferior central d-c-inferior d-inferior";
    gap: 2em;
}

.topo{grid-area: topo;}
.e-superior{grid-area: e-superior;}
.e-c-superior{grid-area: e-c-superior;}
.central{grid-area: central;}
.d-c-superior{grid-area: d-c-superior;}
.d-superior{grid-area: d-superior;}
.e-inferior{grid-area: e-inferior;}
.e-c-inferior{grid-area: e-c-inferior;}
.d-inferior{grid-area: d-inferior;}
.d-c-inferior{grid-area: d-c-inferior;}

main div .grid-component{
    max-width: 30em;
    max-height: 32em;
    transition: .5s;
}

main div .grid-component:hover{
    cursor: pointer;
}

main div .grid-img, main div .grid-img-small{
    width: 100%;
    height: 100%;
}

main div .grid-img:hover, main div .grid-img-small:hover{
    border: 1px solid black;
}

main > div div.topo div.carousel div.carousel-inner img.carousel-component{
    height: 20em;
}

@media screen and (max-width: 768px){
    main > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }

    main > div > div.topo{
        display: none;
    }
}