{% extends "base.html" %}
{% block tittle %}Acessórios Femininos{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/styles/paginasVendas.css">
{% endblock %}
{% block content %}
<div>
  <div id="leftpart">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index">Homepage</a></li>
        <li class="breadcrumb-item"><a href="#">Feminino</a></li>
        <li class="breadcrumb-item active" aria-current="page">Acessórios</li>
      </ol>
    </nav>
      <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Marca
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <form action="get" id="form-marcas" class="form-filtro">
                  <input type="text" name="input-marca" id="input-marca" placeholder="Buscar">
                  <label><input type="checkbox" name="check-dior" id="check-dior"> Dior</label>
                  <label><input type="checkbox" name="check-chanel" id="check-chanel"> Chanel</label>
                  <label><input type="checkbox" name="check-Gucci" id="check-Gucci"> Gucci</label>
                  <label><input type="checkbox" name="check-louisvuitton" id="check-louisvuitton"> Louis Vuitton</label>
                  <label><input type="checkbox" name="check-adidas" id="check-adidas"> Adidas</label>
                  <label><input type="checkbox" name="check-nike" id="check-nike"> Nike</label>
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Tamanho
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                  <form action="get" id="form-tamanhos" class="form-filtro">
                      <input type="text" name="input-tamanho" id="input-tamanho" placeholder="Buscar">
                      <label><input type="checkbox" name="check-30" id="check-30"> 30</label>
                      <label><input type="checkbox" name="check-31" id="check-32"> 31</label>
                      <label><input type="checkbox" name="check-32" id="check-32"> 32</label>
                      <label><input type="checkbox" name="check-34" id="check-34"> 34</label>
                      <label><input type="checkbox" name="check-36" id="check-36"> 36</label>
                      <label><input type="checkbox" name="check-38" id="check-38"> 38</label>
                      <label><input type="checkbox" name="check-40" id="check-40"> 40</label>
                    </form>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Outros
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                <form action="get" id="form-outros" class="form-filtro">
                  <label><input type="checkbox" name="check-promo" id="check-promo"> Itens em Promoção</label>
                  <label><input type="range" name="range-preco" id="range-preco"> Faixa de preço</label>
                </form>
              </div>
            </div>
          </div>
        </div>
  </div>
    <main>
        <h2>Roupas Femininas</h2>
        <div>

          <div class="card" style="width: 28em;">
            <img src="../static/imgs/feminino/cf1.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Regata Nike Dri-FIT One Feminina</h5>
              <p class="card-text"><strong>R$50,00</strong> no pix <br> ou 4x de R$75,00</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 28em;">
            <img src="../static/imgs/feminino/cf2.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camiseta Nike Sportswear Cortez Vintage Feminina</h5>
              <p class="card-text"><strong>R$50,00</strong> no pix <br> ou 4x de R$75,00</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 28em;">
            <img src="../static/imgs/feminino/cf3.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camiseta Nike Air Feminina</h5>
              <p class="card-text"><strong>R$50,00</strong> no pix <br> ou 4x de R$75,00</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 28em;">
            <img src="../static/imgs/feminino/cf4.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Regata Nike Pro Dri-FIT Feminina</h5>
              <p class="card-text"><strong>R$50,00</strong> no pix <br> ou 4x de R$75,00</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 28em;">
            <img src="../static/imgs/feminino/cf5.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camiseta Nike Sportswear Essential Feminina</h5>
              <p class="card-text"><strong>R$50,00</strong> no pix <br> ou 4x de R$75,00</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 28em;">
            <img src="../static/imgs/feminino/cf6.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camiseta Nike Pro 365 Cropped Feminino</h5>
              <p class="card-text"><strong>R$50,00</strong> no pix <br> ou 4x de R$75,00</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

      </div>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Voltar</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Próxima página</a></li>
            </ul>
          </nav>
    </main>
</div>
{% endblock %}