<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %}{% endblock %}</title>
    <link rel="shortcut icon" href="../static/imgs/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    {% block css %}{% endblock %}
</head>
<body>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning">
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endwith %}
    <header>
        <nav>
            <ol>
              <li id="logomarca">
                  <a href="index" class="name">NEW</a>
                  <a href="index"><img src="../static/imgs/logo/logo.png" alt="caixa de entrada"></a>
                  <a href="index" class="name">HYPE</a>
              </li>
              <li id="searchbar">
                  <label for="input"><img src="../static/imgs/icons/search_6033394.png" alt="lupa"label>
                  <input id="input" type="search" name="buscarIndex" placeholder="Buscar produtos">
              </li>
              <div>
                  <div class="dropdown carrinho">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                          <img src="../static/imgs/icons/carrinho.svg" alt="carrinho">
                      </button>
                      <form class="dropdown-menu p-4">
                        <button type="submit" class="btn btn-primary">Finalizar Compra</button>
                        <a href="#">Limpar carrinho</a>
                      </form>
                    </div>
                  {% if not current_user.is_authenticated or current_user.get_id() == "1" or current_user.get_id() == "0" or current_user.get_id() == "2" %}
                  <div class="dropdown login">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <img src="../static/imgs/icons/user.svg" alt="usuario">
                      </button>
                      <form class="dropdown-menu p-4" method="POST">
                        {{ login_form.csrf_token }}
                        <div class="mb-3">
                          <label class="form-label">Usuário</label>
                          {{ login_form.usuario }}
                        </div>
                        <div class="mb-3">
                          <label for="senhaLoginInput" class="form-label">Senha</label>
                          {{ login_form.senha }}
                        </div>
                        <div class="mb-3">
                          <div class="checkbox">
                            {{ login_form.lembrar_senha }}
                            <label>Lembrar senha</label>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <div class="recuperarConta">
                          <a href="recuperarSenha">Esqueci minha senha</a>
                          <a href="registrar">Criar conta</a>
                        </div>
                      </form>
                    </div>
                    {% elif usuario.id == 3 %}
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <img src="../static/imgs/icons/user.svg" alt="usuario">
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="gerenciador_usuarios">Gerenciar Usuários</a></li>
                        <li><a class="dropdown-item" href="logout">Sair da conta</a></li>
                      </ul>
                    </div>
                    {% else %}
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <img src="../static/imgs/icons/user.svg" alt="usuario">
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="logout">Sair da conta</a></li>
                      </ul>
                    </div>
                    {% endif %}
                </div>
            </ol>
        </nav>
    </header>
    <nav>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Masculino
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="masculino_vestuario">Vestuário</a></li>
              <li><a class="dropdown-item" href="masculino_tenis">Tênis</a></li>
              <li><a class="dropdown-item" href="masculino_acessorios">Acessórios</a></li>
            </ul>
          </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Feminino
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="feminino_vestuario">Vestuário</a></li>
              <li><a class="dropdown-item" href="feminino_tenis">Tênis</a></li>
              <li><a class="dropdown-item" href="feminino_acessorios">Acessórios</a></li>
            </ul>
          </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Infantil
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="infantil">Vestuário</a></li>
              <li><a class="dropdown-item" href="infantil">Tênis</a></li>
              <li><a class="dropdown-item" href="infantil">Acessórios</a></li>
            </ul>
          </div>

        <div class="dropdown substituivel">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Outlet
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Vestuário</a></li>
              <li><a class="dropdown-item" href="#">Tênis</a></li>
              <li><a class="dropdown-item" href="#">Acessórios</a></li>
            </ul>
          </div>

        <div class="dropdown substituivel">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Esporte
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Vestuário</a></li>
              <li><a class="dropdown-item" href="#">Tênis</a></li>
              <li><a class="dropdown-item" href="#">Acessórios</a></li>
            </ul>
          </div>

        <div class="dropdown substituivel">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Streetwear
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Vestuário</a></li>
              <li><a class="dropdown-item" href="#">Tênis</a></li>
              <li><a class="dropdown-item" href="#">Acessórios</a></li>
            </ul>
          </div>
    </nav>
    
    {% block content%}{% endblock %}

    <footer>
        <ol>
            <li><a href="">Contato</a></li>
            <li><a href="">Redes sociais</a></li>
            <li><a href="">Trabalhe conosco</a></li>
        </ol>
        <ol>
          <li><a href="">Politica de reembolso e devolução</a></li>
          <li><a href="">Dúvidas frequentes</a></li>
          <li><a href="">Tabela de medidas</a></li>
        </ol>
        <ol>
          <li><a href="">Acompanhe seu pedido</a></li>
          <li><a href="">Política de frete grátis</a></li>
          <li><a href="">Encontre uma loja</a></li>
        </ol>
    </footer>

<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>