<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="shortcut icon" href="../static/imgs/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/registrar.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
</head>
<body>
    <header>
        <a href="index" class="name">NEW</a>
        <a href="index"><img src="../static/imgs/logo/logo.png" alt="caixa de entrada"></a>
        <a href="index" class="name">HYPE</a>
    </header>
    <main>
        <div>
            <h2>Cadastre-se</h2>
            <p>Crie sua conta</p>
        </div>
        <form action="#" method="POST">
            {{ register_form.csrf_token }}
            <div class="inputBox">
                <label for="">Usuário</label>
                {{ register_form.usuario }}
            </div>
            <div class="inputBox">
                <label for="">Email</label>
                {{ register_form.email }}
            </div>
            <div class="inputBox">
                <label for="">Senha</label>
                {{ register_form.senha }}
            </div>
            <div class="termos">
                {{ register_form.termo }}
                <label>Li, e aceito os <a href="#">Termos de Uso</a> e <a href="#">Políticas de privacidade</a></label>
            </div>
            <input type="submit" value="Confirmar">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning">
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </main>
    <footer>
        <ol>
            <li><a href="">Contato</a></li>
            <li><a href="">Redes sociais</a></li>
            <li><a href="">Trabalhe conosco</a></li>
        </ol>
        <ol>
          <li><a href="">Politica de reembolso e devolução</a></li>
          <li><a href="">Dúvidas frequentes</a></li>
          <li><a href="">Tabela de medidas</a></li>
        </ol>
        <ol>
          <li><a href="">Acompanhe seu pedido</a></li>
          <li><a href="">Política de frete grátis</a></li>
          <li><a href="">Encontre uma loja</a></li>
        </ol>
    </footer>

<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>